<div class="navbar navbar-default" role="navigation">
	<div class="container">

		<div class="navbar-header">
			<a class="navbar-brand" href="/landing">Ирка Апп</a>
		</div>

		<div class="nav navbar-nav navbar-right">
			<li><a href="/landing">Главная</a></li>
			<li ng-class="{ active: isActive('goods') }"><a href="#/goods">Товары</a></li>
			<li  ng-class="{ active: isActive('shop') }"><a href="#/shop">Корзина</a></li>
		</div>

	</div>
</div>

<div class="container">
	<div class="page-header">
		<h2 class="text-center">Каталог товаров</h2>
	</div>

	<div class="row">
		
		<div class="col-sm-4 col-xs-6" ng-repeat="good in goods">
			<div class="thumbnail">
				<img ng-src="../img/items/{{ good.filename || 'noimg.gif' }}" class="img-responsive" alt="">
				<div class="caption">
					<a ng-href="#/goods/{{ good.id }}"><h5>{{ good.name }}</h5></a>
					<button class="btn btn-primary">Добавить в корзину</button>
				</div>
			</div>
		</div>

	</div>
</div>