<div class="container">
	<div class="page-header">
		<h2 class="text-center">Каталог товаров</h2>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<input type="search" class="form-control" placeholder="Поиск товаров" ng-model="search.name">
		</div>
	</div>

	<hr>

	<div class="row">
		
		<div class="col-sm-4 col-xs-6 slide-top-animation" ng-repeat="good in goods | filter: search">
			<div class="thumbnail">
				<img ng-src="../img/{{ good.img || 'noimg.gif' }}" class="img-responsive" alt="">
				<div class="caption">
					<p><a ng-href="#/goods/{{ good.id }}"><h5>{{ good.name }}</h5></a></p>
					<div ng-repeat="addition in additions">
						<div ng-repeat="(key, details) in addition" class="row form-group">
							<label class="col-sm-4 control-label lh30">{{ key | toRussian }}</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="selects[good.id][key]">
									<!-- <option value="0"></option> -->
									<option ng-repeat="detail in details" value="{{detail.id}}">{{detail.name}}</option>
								</select>
							</div>
						</div>
					</div>
					<button class="btn btn-primary" ng-click="addToCart(good.id, selects[good.id])" ng-disabled="loading[good.id-1]">
						<span ng-show="loading[good.id-1]"><i class="fa fa-spinner fa-spin"></i></span>
						<span ng-hide="loading[good.id-1]">Добавить в корзину</span>
					</button>
				</div>
			</div>
		</div>

	</div>
</div>