<div class="container">
	<div class="page-header margin-bottom-40">
		<h2 class="text-center">Ранее оформленые заказы</h2>
	</div>

	<div class="row margin-bottom-40">

		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr class="text-center">
						<th class="text-center">Ваш номер заказа</th>
						<th class="text-center">Дата оформления заказа</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="order in orders" class="text-center" ng-click="showOrder(order.id)">
						<td>{{ order.id }}</td>
						<td>{{ order.modified }}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>

<div class="modal fade" role="dialog" id="single-order">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Данные по Вашему запросу</h4>
			</div>

			<div class="modal-body">
				
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr class="text-center">
							<th class="text-center">Название</th>
							<th class="text-center">Цена</th>
							<th class="text-center">Количество</th>
							<th class="text-center" colspan="6">Данные о товаре</th>
							<th class="text-center">Итого</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center" ng-repeat="order in singleOrders">
							<td>{{ order.name }}</td>
							<td class="no-rub-margin"><span class="text-color">{{ order.price }}<i class="fa fa-rub"></i></span></td>
							<td>{{ order.quantity }}</td>
							<td>{{ 'Крем' }}</td>
							<td>
								<span ng-if="order.additions.cream[0]"><span class="text-color">{{ order.additions.cream[0].name }}</span></span>
								<span ng-if="!order.additions.cream[0]">-</span>
							</td>
							<td>{{ 'Сироп' }}</td>
							<td>
								<span ng-if="order.additions.syrup[0]">
									<span class="text-color">
										{{ order.additions.syrup[0].name }}
									</span>
								</span>
								<span ng-if="!order.additions.syrup[0]">-</span>
							</td>
							<td>{{ 'Посыпка' }}</td>
							<td>
								<span ng-if="order.additions.sprinkling[0]">
									<span class="text-color">
										{{ order.additions.sprinkling[0].name }}
									</span>
								</span>
								<span ng-if="!order.additions.sprinkling[0]">-</span>
							</td>
							<td class="no-rub-margin">
								<span class="text-color">
									{{ order.total_price * order.quantity }}<i class="fa fa-rub"></i>
								</span>
							</td>
						</tr>
					</tbody>
					<tbody>
						<tr class="bg-white warning">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Итого</td>
							<td class="no-rub-margin text-center">
								{{ totalPrice }}<i class="fa fa-rub"></i>
							</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>

		</div>
	</div>
</div>